/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%;
}

body { 
    margin: 0 auto;
 }

.bgimg {
    background-color: #FFEA8F;
    height: 100%;
    background-size: cover;
    color: white;
    font-family: brandon-grotesque,'Brandon Grotesque',Futura,sans-serif;
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#socialMediaIconsColor {

    float: left;
    text-align: center;
    margin-left: 170px;
}

#socialMediaIconsColor img{
  width: 50px;
  height: 50px;
}

#socialMediaIconsColor img:hover{
  filter: grayscale(100%);
}

#logo {
    margin-top: 0px;
    padding: 0px;
}

h3 {
  color: white;
  letter-spacing: 3px;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 0px;
}

#timer { 
    margin-left: 45px;
    padding-bottom: 50px;
 }

#days, #hours, #minutes, #seconds {
    float: left;
    padding: 5px;
}


#register {
    border:2px; 
    border-style:solid; 
    border-color: #003449; 
    padding: .5em;
    color: #ED8B95;

}

#registerButton{

    float: left;
    margin-top: 50px;
    margin-left: -150px;

}